name: Terraform - Apply

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  terraform-apply:
    name: Terraform Apply (infra)
    runs-on: ubuntu-latest
    env:
      AWS_REGION: ${{ vars.AWS_REGION }}
      AWS_ROLE_ARN: ${{ vars.AWS_ROLE_ARN }}
      GIT_SSH_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      GHCR_TOKEN: ${{ secrets.GHCR_TOKEN }}
      GHCR_USERNAME: ${{ secrets.GHCR_USERNAME }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: "1.5.0"

      - name: Setup SSH agent for git
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ env.GIT_SSH_KEY }}

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v5.1.0
        with:
          role-to-assume:  ${{ env.AWS_ROLE_ARN }}
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Init
        working-directory: src
        run: |
          terraform init -input=false

      - name: Load tfvars
        working-directory: src
        run: |
          sed -ie "s|GHCR_USERNAME|${{ env.GHCR_USERNAME }}|g" values.tfvars
          sed -ie "s|GHCR_TOKEN|${{ env.GHCR_TOKEN }}|g" values.tfvars

      - name: Terraform Plan
        working-directory: src
        run: |
          terraform plan -input=false -var-file=values.tfvars

      - name: Terraform Apply
        working-directory: src
        run: |
          terraform apply -input=false -var-file=values.tfvars -auto-approve


      - name: Done
        run: echo "Terraform apply finished."

